---
import Layout from '@/layouts/Layout.astro'
import { type Locales, defaultLocale } from '@/services/locale'
import translations from '@/services/translations'
import { useRuntimeConfig } from '@/config/app'

const config = useRuntimeConfig()
const brand = config.public.brand

const title = [brand, translations['security_policy'][Astro.locals.locale]].join(' | ')
const description = translations['read_our_security_policy'][Astro.locals.locale]

const content = { title, description }
---

<Layout content={content}>
  <div class="prose prose-sm m-auto px-3 text-left">
    <h1>{translations['security_policy'][Astro.locals.locale]}</h1>
    <p>
      {translations['contact'][Astro.locals.locale]}: <a href="https://github.com/Cap-go/capgo/security/advisories/new">https://github.com/Cap-go/capgo/security/advisories/new</a
      ><br />
      {translations['canonical'][Astro.locals.locale]}: <a href="https://capgo.app/security.txt">https://capgo.app/security.txt</a>
    </p>
    <p>
      {translations['security_intro'][Astro.locals.locale]}
    </p>
    <p>
      {translations['security_discovery'][Astro.locals.locale]}
    </p>
    <h2>{translations['security_out_of_scope_title'][Astro.locals.locale]}</h2>
    <ul>
      <li>{translations['security_out_of_scope_1'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_2'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_3'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_4'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_5'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_6'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_7'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_8'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_9'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_10'][Astro.locals.locale]}</li>
      <li>{translations['security_out_of_scope_11'][Astro.locals.locale]}</li>
    </ul>
    <h2>{translations['security_testing_guidelines_title'][Astro.locals.locale]}</h2>
    <ul>
      <li>
        {translations['security_testing_guidelines_1'][Astro.locals.locale]}
      </li>
      <li>
        {translations['security_testing_guidelines_2'][Astro.locals.locale]}
      </li>
    </ul>
    <h2>{translations['security_reporting_guidelines_title'][Astro.locals.locale]}</h2>
    <ul>
      <li>
        {translations['security_reporting_guidelines_1'][Astro.locals.locale]}: <a href="https://github.com/Cap-go/capgo/security/advisories/new"
          >https://github.com/Cap-go/capgo/security/advisories/new</a
        >
      </li>
      <li>{translations['security_reporting_guidelines_2'][Astro.locals.locale]}</li>
    </ul>
    <h2>{translations['security_disclosure_guidelines_title'][Astro.locals.locale]}</h2>
    <ul>
      <li>{translations['security_disclosure_guidelines_1'][Astro.locals.locale]}</li>
      <li>
        {translations['security_disclosure_guidelines_2'][Astro.locals.locale]}
        <ul>
          <li>{translations['security_disclosure_guidelines_2_1'][Astro.locals.locale]}</li>
          <li>{translations['security_disclosure_guidelines_2_2'][Astro.locals.locale]}</li>
          <li>{translations['security_disclosure_guidelines_2_3'][Astro.locals.locale]}</li>
        </ul>
      </li>
    </ul>
    <h2>{translations['security_what_we_promise_title'][Astro.locals.locale]}</h2>
    <ul>
      <li>{translations['security_what_we_promise_1'][Astro.locals.locale]}</li>
      <li>{translations['security_what_we_promise_2'][Astro.locals.locale]}</li>
      <li>{translations['security_what_we_promise_3'][Astro.locals.locale]}</li>
      <li>{translations['security_what_we_promise_4'][Astro.locals.locale]}</li>
      <li>{translations['security_what_we_promise_5'][Astro.locals.locale]}</li>
    </ul>
    <p>{translations['security_closing'][Astro.locals.locale]}</p>
  </div>
</Layout>
