---
import Layout from '@/layouts/Layout.astro'
import * as m from '@/paraglide/messages'
import { getRelativeLocaleUrl } from 'astro:i18n'
const title = [Astro.locals.runtimeConfig.public.brand, m.about_capgo({}, { locale: Astro.locals.locale })].join(' | ')
const description = m.about_capgo({}, { locale: Astro.locals.locale })

const content = {
  title,
  description,
  image: `${Astro.locals.runtimeConfig.public.baseUrl}/app_demo.webp`,
}
---

<Layout content={content}>
  <section class="relative bg-gray-900 pt-12 sm:pt-16 lg:pt-20">
    <div class="absolute inset-0 overflow-hidden">
      <img class="h-full w-full -translate-y-80 transform object-cover object-top opacity-20" src="/background-pattern.webp" alt="" />
    </div>
    <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-xl text-center xl:max-w-3xl">
        <h2 class="font-pj text-3xl font-bold text-white sm:text-4xl xl:text-5xl">{m.about_capgo({}, { locale: Astro.locals.locale })}</h2>
        <p class="font-pj mx-auto mt-4 max-w-xl text-base leading-7 text-gray-100 sm:mt-8">{m.your_live_update_solution_for_capacitor_apps({}, { locale: Astro.locals.locale })}</p>
        <div class="mt-8 inline-block rounded-full bg-blue-600 px-4 py-2 text-sm font-semibold text-white sm:mt-11">
          {m.open_source({}, { locale: Astro.locals.locale })}
        </div>
      </div>
    </div>
    <div class="relative mx-auto mt-20 max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="grid gap-12 lg:grid-cols-2">
        <div>
          <h3 class="mb-4 text-2xl font-bold text-white">🚀 {m.welcome_to_capgo({}, { locale: Astro.locals.locale })}</h3>
          <p class="mb-6 text-gray-300">
            {m.capgo_is_the_cutting_edge_live_update_system_designed_specifically_for_capacitor_applications({}, { locale: Astro.locals.locale })}
            {
              m.we_empower_developers_to_push_updates_instantly_ensuring_your_users_always_have_the_latest_version_of_your_app_without_the_hassle_of_app_store_approvals(
                {},
                { locale: Astro.locals.locale },
              )
            }
          </p>
          <h3 class="mb-4 text-2xl font-bold text-white">🌱 {m.our_story({}, { locale: Astro.locals.locale })}</h3>
          <p class="mb-6 text-gray-300">
            {m.capgo_was_born_from_a_real_need_in_the_developer_community({}, { locale: Astro.locals.locale })}
            {
              m.it_all_started_with_a_github_issue_where_many_developers_voiced_their_frustration_with_the_high_costs_of_existing_solutions_like_appflow(
                {},
                { locale: Astro.locals.locale },
              )
            }
            {m.this_inspired_me_to_create_an_affordable_efficient_alternative({}, { locale: Astro.locals.locale })}
          </p>
          <a href="https://capgo.app/blog/birth-of-capgo-my-challenging-journey-as-a-solo-maker/" class="text-blue-400 hover:underline">
            {m.read_the_full_story_of_capgos_challenging_birth_as_a_solo_maker_project({}, { locale: Astro.locals.locale })}
          </a>
        </div>
        <div>
          <h3 class="mb-4 text-2xl font-bold text-white">🔧 {m.key_features({}, { locale: Astro.locals.locale })}</h3>
          <ul class="mb-6 list-inside list-disc space-y-2 text-gray-300">
            <li>{m.instant_updates({}, { locale: Astro.locals.locale })}: {m.deploy_changes_in_real_time({}, { locale: Astro.locals.locale })}</li>
            <li>{m.version_control({}, { locale: Astro.locals.locale })}: {m.manage_multiple_app_versions_effortlessly({}, { locale: Astro.locals.locale })}</li>
            <li>{m.rollback_capability({}, { locale: Astro.locals.locale })}: {m.revert_to_previous_versions_if_needed({}, { locale: Astro.locals.locale })}</li>
            <li>{m.analytics({}, { locale: Astro.locals.locale })}: {m.track_update_performance_and_user_adoption({}, { locale: Astro.locals.locale })}</li>
            <li>{m.organization_and_app_management({}, { locale: Astro.locals.locale })}: {m.thanks_to_our_open_source_nature({}, { locale: Astro.locals.locale })}</li>
          </ul>
          <h3 class="mb-4 text-2xl font-bold text-white">🌟 {m.our_commitment({}, { locale: Astro.locals.locale })}</h3>
          <p class="mb-6 text-gray-300">
            {
              m.as_the_largest_ecosystem_of_open_source_plugins_for_capacitor_we_re_committed_to_innovation_transparency_and_community_driven_development(
                {},
                { locale: Astro.locals.locale },
              )
            }
          </p>
          <h3 class="mb-4 text-2xl font-bold text-white">💪 {m.practicing_what_we_preach({}, { locale: Astro.locals.locale })}</h3>
          <p class="mb-6 text-gray-300">
            {m.we_practice_what_we_preach({}, { locale: Astro.locals.locale })}
            {m.capgo_is_used_to_update_its_own_apps_allowing_us_to_continuously_improve_and_refine_our_product_through_real_world_usage({}, { locale: Astro.locals.locale })}
          </p>
          <h3 class="mb-4 text-2xl font-bold text-white">🚀 {m.our_dedication({}, { locale: Astro.locals.locale })}</h3>
          <p class="mb-6 text-gray-300">
            {m.since_2023_capgo_has_been_my_full_time_focus_ensuring_dedicated_development_and_support_for_our_growing_community_of_users({}, { locale: Astro.locals.locale })}
          </p>
        </div>
      </div>
    </div>
    <div class="relative mx-auto mt-20 max-w-6xl">
      <div class="mx-auto max-w-7xl rounded-lg px-4 py-8 text-[#a1a1aa] shadow-lg md:px-0">
        <div class="flex flex-col items-start gap-8 md:flex-row">
          <img
            src="/martindonadieu.webp"
            alt={m.martin_donadieu_on_a_motorcycle_with_a_rainbow_in_the_background({}, { locale: Astro.locals.locale })}
            class="mx-auto h-auto w-3/4 rounded-lg object-cover md:mx-0 md:w-144"
          />
          <div class="flex-1 space-y-4">
            <p class="text-2xl text-white">
              <span class="font-bold">👋 {m.hi_there_im_martin_donadieu({}, { locale: Astro.locals.locale })} </span>
            </p>
            <p>
              🇫🇷 {m.im_a_french_software_engineer({}, { locale: Astro.locals.locale })}<br />
              {m.living_best_life({}, { locale: Astro.locals.locale })} 🏝️. <br />{m.made_capgo_with_passion({}, { locale: Astro.locals.locale })}
            </p>
            <p>
              <span class="font-bold">🌟 {m.i_m_a_huge_believer_in_open_source({}, { locale: Astro.locals.locale })}</span><br />
              {m.capgo_proudly_stands_as_the_largest_ecosystem_of_open_source_plugins_for_capacitor({}, { locale: Astro.locals.locale })}
              <br />
              {m.we_re_committed_to_fostering_a_community_where_developers_can_learn_contribute_and_grow_together({}, { locale: Astro.locals.locale })}
            </p>
            <p>
              📧 {m.each_time_you_contact_capgo_you_re_reaching_out_to_me_directly({}, { locale: Astro.locals.locale })}<br />
              {m.i_personally_handle_all_support_through_email_chat_or_discord_because_i_believe_in_real_connections({}, { locale: Astro.locals.locale })}
              <br />
              <span class="font-bold">🫶 {m.your_challenges_are_my_challenges({}, { locale: Astro.locals.locale })}</span>
            </p>
            <p>
              {
                m.when_im_not_working_on_capgo_you_ll_find_me_scaling_climbing_walls_dancing_to_zouk_rhythms_or_exploring_madeiras_stunning_nature(
                  {},
                  { locale: Astro.locals.locale },
                )
              }
            </p>
            <p>
              🐦 {m.my_commitment_to_transparency_extends_to_everything_i_do({}, { locale: Astro.locals.locale })}
              <br />
              {m.you_can_see_my_entire_process_unfold_on_twitter({}, { locale: Astro.locals.locale })}
              <a href="https://twitter.com/martindonadieu" class="text-white hover:underline">@martindonadieu</a>
              {m.and_hear_more_about_my_journey_on_the({}, { locale: Astro.locals.locale })}
              <a href="https://solos.ventures" class="text-white hover:underline">solos.ventures</a> podcast.
            </p>
            <p class="font-bold text-white">{m.lets_make_app_development_amazing_together({}, { locale: Astro.locals.locale })} 🤝</p>
            <div class="pt-4">
              <div class="group relative mt-10 inline-flex">
                <div
                  class="transition-all animate-tilt absolute -inset-px rounded-xl bg-linear-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] opacity-70 blur-lg duration-1000 group-hover:-inset-1 group-hover:opacity-100 group-hover:duration-200"
                >
                </div>
                <a
                  href={getRelativeLocaleUrl(Astro.locals.locale, 'register')}
                  title={m.get_quote_now({}, { locale: Astro.locals.locale })}
                  class="font-pj relative inline-flex items-center justify-center rounded-xl bg-gray-900 px-8 py-4 text-lg font-bold text-white transition-all duration-200 focus:ring-2 focus:ring-gray-900 focus:ring-offset-2 focus:outline-none"
                  role="button"
                >
                  {m.start_now({}, { locale: Astro.locals.locale })}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
