---
import Layout from '@/layouts/Layout.astro'
import { useRuntimeConfig } from '@/config/app'
import translations from '@/services/translations'

const config = useRuntimeConfig()
const brand = config.public.brand

const title = [brand, translations['aup'][Astro.locals.locale]].join(' | ')
const description = translations['read_our_aup'][Astro.locals.locale]

const content = { title, description }
---

<Layout content={content}>
  <div class="prose prose-sm m-auto px-3 text-left">
    <h1>{translations['aup'][Astro.locals.locale]}</h1>
    <p><em>{translations['last_update'][Astro.locals.locale]}: 07/09/2024</em></p>
    <p>
      {translations['aup_intro'][Astro.locals.locale]}
    </p>
    <h2>{translations['aup_no_illegal_use'][Astro.locals.locale]}</h2>
    <p>
      {translations['aup_no_illegal_use_desc'][Astro.locals.locale]}
    </p>
    <ul>
      <li>
        <strong>{translations['illegal_activities'][Astro.locals.locale]}</strong>
        {translations['illegal_activities_desc'][Astro.locals.locale]}
      </li>
      <li>
        <strong>{translations['infringing_content'][Astro.locals.locale]}</strong>
        {translations['infringing_content_desc'][Astro.locals.locale]}
      </li>
      <li>
        <strong>{translations['offensive_content'][Astro.locals.locale]}</strong>
        {translations['offensive_content_desc'][Astro.locals.locale]}
      </li>
      <li>
        <strong>{translations['harmful_content'][Astro.locals.locale]}</strong>
        {translations['harmful_content_desc'][Astro.locals.locale]}
      </li>
      <li>
        <strong>{translations['platform_compliance'][Astro.locals.locale]}</strong>
        {translations['platform_compliance_desc'][Astro.locals.locale]}
      </li>
    </ul>
    <h2>{translations['aup_no_security_violations'][Astro.locals.locale]}</h2>
    <p>
      {translations['aup_no_security_violations_desc'][Astro.locals.locale]}
    </p>
    <ul>
      <li>
        <strong>{translations['unauthorized_access'][Astro.locals.locale]}</strong>
        {translations['unauthorized_access_desc'][Astro.locals.locale]}
      </li>
      <li><strong>{translations['interception'][Astro.locals.locale]}</strong></li>
      <li>
        <strong>{translations['falsification_of_origin'][Astro.locals.locale]}</strong>
        {translations['falsification_of_origin_desc'][Astro.locals.locale]}
      </li>
    </ul>
    <h2>{translations['aup_no_network_abuse'][Astro.locals.locale]}</h2>
    <p>{translations['aup_no_network_abuse_desc'][Astro.locals.locale]}</p>
    <ul>
      <li><strong>{translations['monitoring_crawling'][Astro.locals.locale]}</strong>{translations['monitoring_crawling_desc'][Astro.locals.locale]}</li>
      <li>
        <strong>{translations['denial_of_service'][Astro.locals.locale]}</strong>
        {translations['denial_of_service_desc'][Astro.locals.locale]}
      </li>
      <li>
        <strong>{translations['intentional_interference'][Astro.locals.locale]}</strong>
        {translations['intentional_interference_desc'][Astro.locals.locale]}
      </li>
      <li>
        <strong>{translations['operation_of_network_services'][Astro.locals.locale]}</strong>
        {translations['operation_of_network_services_desc'][Astro.locals.locale]}
      </li>
      <li>
        <strong>{translations['avoiding_system_restrictions'][Astro.locals.locale]}</strong>
        {translations['avoiding_system_restrictions_desc'][Astro.locals.locale]}
      </li>
    </ul>
    <h2>{translations['aup_no_email_abuse'][Astro.locals.locale]}</h2>
    <p>{translations['aup_no_email_abuse_desc'][Astro.locals.locale]}</p>
    <h2>{translations['aup_monitoring_enforcement'][Astro.locals.locale]}</h2>
    <p>{translations['aup_monitoring_enforcement_desc'][Astro.locals.locale]}</p>
    <ul>
      <li>{translations['investigate_violations'][Astro.locals.locale]}</li>
      <li>{translations['remove_modify_content'][Astro.locals.locale]}</li>
    </ul>
    <p>
      {translations['report_violations_desc'][Astro.locals.locale]}
      {translations['report_violations_desc_2'][Astro.locals.locale]}
    </p>
    <h2>{translations['aup_reporting_violations'][Astro.locals.locale]}</h2>
    <p set:html={translations['aup_reporting_violations_desc'][Astro.locals.locale]} />
  </div>
</Layout>
