---
import Layout from '@/layouts/Layout.astro'
import { useRuntimeConfig } from '@/config/app'
import translations from '@/services/translations'
import { defaultLocale, type Locales } from '@/services/locale'

const config = useRuntimeConfig()
const brand = config.public.brand

const pageLocale = (Astro.currentLocale || defaultLocale) as Locales
const title = [brand, translations['aup'][pageLocale]].join(' | ')
const description = translations['read_our_aup'][pageLocale]

const content = { title, description }
---

<Layout content={content}>
  <div class="prose prose-sm m-auto px-3 text-left">
    <h1>{translations['aup'][pageLocale]}</h1>
    <p><em>{translations['last_update'][pageLocale]}: 07/09/2024</em></p>
    <p>
      {translations['aup_intro'][pageLocale]}
    </p>
    <h2>{translations['aup_no_illegal_use'][pageLocale]}</h2>
    <p>
      {translations['aup_no_illegal_use_desc'][pageLocale]}
    </p>
    <ul>
      <li>
        <strong>{translations['illegal_activities'][pageLocale]}</strong>
        {translations['illegal_activities_desc'][pageLocale]}
      </li>
      <li>
        <strong>{translations['infringing_content'][pageLocale]}</strong>
        {translations['infringing_content_desc'][pageLocale]}
      </li>
      <li>
        <strong>{translations['offensive_content'][pageLocale]}</strong>
        {translations['offensive_content_desc'][pageLocale]}
      </li>
      <li>
        <strong>{translations['harmful_content'][pageLocale]}</strong>
        {translations['harmful_content_desc'][pageLocale]}
      </li>
      <li>
        <strong>{translations['platform_compliance'][pageLocale]}</strong>
        {translations['platform_compliance_desc'][pageLocale]}
      </li>
    </ul>
    <h2>{translations['aup_no_security_violations'][pageLocale]}</h2>
    <p>
      {translations['aup_no_security_violations_desc'][pageLocale]}
    </p>
    <ul>
      <li>
        <strong>{translations['unauthorized_access'][pageLocale]}</strong>
        {translations['unauthorized_access_desc'][pageLocale]}
      </li>
      <li><strong>{translations['interception'][pageLocale]}</strong></li>
      <li>
        <strong>{translations['falsification_of_origin'][pageLocale]}</strong>
        {translations['falsification_of_origin_desc'][pageLocale]}
      </li>
    </ul>
    <h2>{translations['aup_no_network_abuse'][pageLocale]}</h2>
    <p>{translations['aup_no_network_abuse_desc'][pageLocale]}</p>
    <ul>
      <li><strong>{translations['monitoring_crawling'][pageLocale]}</strong>{translations['monitoring_crawling_desc'][pageLocale]}</li>
      <li>
        <strong>{translations['denial_of_service'][pageLocale]}</strong>
        {translations['denial_of_service_desc'][pageLocale]}
      </li>
      <li>
        <strong>{translations['intentional_interference'][pageLocale]}</strong>
        {translations['intentional_interference_desc'][pageLocale]}
      </li>
      <li>
        <strong>{translations['operation_of_network_services'][pageLocale]}</strong>
        {translations['operation_of_network_services_desc'][pageLocale]}
      </li>
      <li>
        <strong>{translations['avoiding_system_restrictions'][pageLocale]}</strong>
        {translations['avoiding_system_restrictions_desc'][pageLocale]}
      </li>
    </ul>
    <h2>{translations['aup_no_email_abuse'][pageLocale]}</h2>
    <p>{translations['aup_no_email_abuse_desc'][pageLocale]}</p>
    <h2>{translations['aup_monitoring_enforcement'][pageLocale]}</h2>
    <p>{translations['aup_monitoring_enforcement_desc'][pageLocale]}</p>
    <ul>
      <li>{translations['investigate_violations'][pageLocale]}</li>
      <li>{translations['remove_modify_content'][pageLocale]}</li>
    </ul>
    <p>
      {translations['report_violations_desc'][pageLocale]}
      {translations['report_violations_desc_2'][pageLocale]}
    </p>
    <h2>{translations['aup_reporting_violations'][pageLocale]}</h2>
    <p set:html={translations['aup_reporting_violations_desc'][pageLocale]} />
  </div>
</Layout>
