---
import Layout from '@/layouts/Layout.astro'
import { type Locales, defaultLocale } from '@/services/locale'
import translations from '@/services/translations'
import { useRuntimeConfig } from '@/config/app'

const config = useRuntimeConfig()
const brand = config.public.brand

const pageLocale = (Astro.currentLocale || defaultLocale) as Locales
const title = [brand, translations['security_policy'][pageLocale]].join(' | ')
const description = translations['read_our_security_policy'][pageLocale]

const content = { title, description }
---

<Layout content={content}>
  <div class="prose prose-sm m-auto px-3 text-left">
    <h1>{translations['security_policy'][pageLocale]}</h1>
    <p>
      {translations['contact'][pageLocale]}: <a href="https://github.com/Cap-go/capgo/security/advisories/new">https://github.com/Cap-go/capgo/security/advisories/new</a><br />
      {translations['canonical'][pageLocale]}: <a href="https://capgo.app/security.txt">https://capgo.app/security.txt</a>
    </p>
    <p>
      {translations['security_intro'][pageLocale]}
    </p>
    <p>
      {translations['security_discovery'][pageLocale]}
    </p>
    <h2>{translations['security_out_of_scope_title'][pageLocale]}</h2>
    <ul>
      <li>{translations['security_out_of_scope_1'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_2'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_3'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_4'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_5'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_6'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_7'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_8'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_9'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_10'][pageLocale]}</li>
      <li>{translations['security_out_of_scope_11'][pageLocale]}</li>
    </ul>
    <h2>{translations['security_testing_guidelines_title'][pageLocale]}</h2>
    <ul>
      <li>
        {translations['security_testing_guidelines_1'][pageLocale]}
      </li>
      <li>
        {translations['security_testing_guidelines_2'][pageLocale]}
      </li>
    </ul>
    <h2>{translations['security_reporting_guidelines_title'][pageLocale]}</h2>
    <ul>
      <li>
        {translations['security_reporting_guidelines_1'][pageLocale]}: <a href="https://github.com/Cap-go/capgo/security/advisories/new"
          >https://github.com/Cap-go/capgo/security/advisories/new</a
        >
      </li>
      <li>{translations['security_reporting_guidelines_2'][pageLocale]}</li>
    </ul>
    <h2>{translations['security_disclosure_guidelines_title'][pageLocale]}</h2>
    <ul>
      <li>{translations['security_disclosure_guidelines_1'][pageLocale]}</li>
      <li>
        {translations['security_disclosure_guidelines_2'][pageLocale]}
        <ul>
          <li>{translations['security_disclosure_guidelines_2_1'][pageLocale]}</li>
          <li>{translations['security_disclosure_guidelines_2_2'][pageLocale]}</li>
          <li>{translations['security_disclosure_guidelines_2_3'][pageLocale]}</li>
        </ul>
      </li>
    </ul>
    <h2>{translations['security_what_we_promise_title'][pageLocale]}</h2>
    <ul>
      <li>{translations['security_what_we_promise_1'][pageLocale]}</li>
      <li>{translations['security_what_we_promise_2'][pageLocale]}</li>
      <li>{translations['security_what_we_promise_3'][pageLocale]}</li>
      <li>{translations['security_what_we_promise_4'][pageLocale]}</li>
      <li>{translations['security_what_we_promise_5'][pageLocale]}</li>
    </ul>
    <p>{translations['security_closing'][pageLocale]}</p>
  </div>
</Layout>
