---
import Layout from '@/layouts/Layout.astro'
import * as m from '@/paraglide/messages'

const title = [Astro.locals.runtimeConfig.public.brand, m.sla_policy({}, { locale: Astro.locals.locale })].join(' | ')
const description = m.read_our_sla_policy({}, { locale: Astro.locals.locale })

const content = { title, description }
---

<Layout content={content}>
  <div class="py-8 m-auto prose-sm prose prose-invert">
    <h2>{m.sla_title({}, { locale: Astro.locals.locale })}</h2>
    <h2>{m.enterprise_platform_uptime_sla({}, { locale: Astro.locals.locale })}</h2>
    <p>{m.sla_intro({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.uptime_commitment_title({}, { locale: Astro.locals.locale })}</h3>
    <p>{m.uptime_commitment_desc({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.service_credits_title({}, { locale: Astro.locals.locale })}</h3>
    <p>{m.service_credits_desc({}, { locale: Astro.locals.locale })}</p>
    <table>
      <tr>
        <th>{m.actual_availability({}, { locale: Astro.locals.locale })}</th>
        <th>{m.credit_percentage({}, { locale: Astro.locals.locale })}</th>
      </tr>
      <tr>
        <td>{m.availability_99_98({}, { locale: Astro.locals.locale })}</td>
        <td>{m.credit_10_percent({}, { locale: Astro.locals.locale })}</td>
      </tr>
      <tr>
        <td>{m.availability_98_97({}, { locale: Astro.locals.locale })}</td>
        <td>{m.credit_15_percent({}, { locale: Astro.locals.locale })}</td>
      </tr>
      <tr>
        <td>{m.availability_97_95({}, { locale: Astro.locals.locale })}</td>
        <td>{m.credit_20_percent({}, { locale: Astro.locals.locale })}</td>
      </tr>
      <tr>
        <td>{m.availability_below_95({}, { locale: Astro.locals.locale })}</td>
        <td>{m.credit_30_percent({}, { locale: Astro.locals.locale })}</td>
      </tr>
    </table>
    <h3>{m.credit_requests_payment_title({}, { locale: Astro.locals.locale })}</h3>
    <p>{m.credit_requests_payment_desc({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.four_definitions_title({}, { locale: Astro.locals.locale })}</h3>
    <p>{m.definitions_desc({}, { locale: Astro.locals.locale })}</p>
    <h4>{m.scheduled_availability_title({}, { locale: Astro.locals.locale })}</h4>
    <p>{m.scheduled_availability_desc({}, { locale: Astro.locals.locale })}</p>
    <h4>{m.unscheduled_downtime_title({}, { locale: Astro.locals.locale })}</h4>
    <p>{m.unscheduled_downtime_desc({}, { locale: Astro.locals.locale })}</p>
    <h4>{m.actual_availability_title({}, { locale: Astro.locals.locale })}</h4>
    <p>{m.actual_availability_desc({}, { locale: Astro.locals.locale })}</p>
    <h4>{m.production_title({}, { locale: Astro.locals.locale })}</h4>
    <p>{m.production_desc({}, { locale: Astro.locals.locale })}</p>
    <p>{m.non_production_desc({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.sla_exclusions_title({}, { locale: Astro.locals.locale })}</h3>
    <h4>{m.general_service_exclusions_title({}, { locale: Astro.locals.locale })}</h4>
    <ul>
      <li>{m.general_service_exclusion_1({}, { locale: Astro.locals.locale })}</li>
      <li>{m.general_service_exclusion_2({}, { locale: Astro.locals.locale })}</li>
      <li>{m.general_service_exclusion_3({}, { locale: Astro.locals.locale })}</li>
      <li>{m.general_service_exclusion_4({}, { locale: Astro.locals.locale })}</li>
      <li>{m.general_service_exclusion_5({}, { locale: Astro.locals.locale })}</li>
      <li>{m.general_service_exclusion_6({}, { locale: Astro.locals.locale })}</li>
      <li>{m.general_service_exclusion_7({}, { locale: Astro.locals.locale })}</li>
    </ul>
    <h4>{m.live_update_sla_exclusions_title({}, { locale: Astro.locals.locale })}</h4>
    <ul>
      <li>{m.live_update_exclusion_1({}, { locale: Astro.locals.locale })}</li>
      <li>{m.live_update_exclusion_2({}, { locale: Astro.locals.locale })}</li>
      <li>{m.live_update_exclusion_3({}, { locale: Astro.locals.locale })}</li>
      <li>{m.live_update_exclusion_4({}, { locale: Astro.locals.locale })}</li>
      <li>{m.live_update_exclusion_5({}, { locale: Astro.locals.locale })}</li>
    </ul>
    <h2>{m.support_title({}, { locale: Astro.locals.locale })}</h2>
    <p>{m.support_desc({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.urgent_support_title({}, { locale: Astro.locals.locale })}</h3>
    <p><strong>{m.urgent_support_subtitle({}, { locale: Astro.locals.locale })}</strong></p>
    <p>{m.urgent_support_desc({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.high_support_title({}, { locale: Astro.locals.locale })}</h3>
    <p><strong>{m.high_support_subtitle({}, { locale: Astro.locals.locale })}</strong></p>
    <p>{m.high_support_desc({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.normal_support_title({}, { locale: Astro.locals.locale })}</h3>
    <p><strong>{m.normal_support_subtitle({}, { locale: Astro.locals.locale })}</strong></p>
    <p>{m.normal_support_desc({}, { locale: Astro.locals.locale })}</p>
    <h3>{m.low_support_title({}, { locale: Astro.locals.locale })}</h3>
    <p><strong>{m.low_support_subtitle({}, { locale: Astro.locals.locale })}</strong></p>
    <p>{m.low_support_desc({}, { locale: Astro.locals.locale })}</p>
    <h2>{m.target_initial_response_times_title({}, { locale: Astro.locals.locale })}</h2>
    <table>
      <tr>
        <th>{m.severity_level({}, { locale: Astro.locals.locale })}</th>
        <th>{m.team_plan({}, { locale: Astro.locals.locale })}</th>
        <th>{m.pay_as_you_go_plan({}, { locale: Astro.locals.locale })}</th>
        <th>{m.priority_plus_plan({}, { locale: Astro.locals.locale })}</th>
      </tr>
      <tr>
        <td>{m.urgent_support_title({}, { locale: Astro.locals.locale })}</td>
        <td>{m.urgent_team_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.urgent_enterprise_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.urgent_priority_response({}, { locale: Astro.locals.locale })}</td>
      </tr>
      <tr>
        <td>{m.high_support_title({}, { locale: Astro.locals.locale })}</td>
        <td>{m.high_team_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.high_enterprise_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.high_priority_response({}, { locale: Astro.locals.locale })}</td>
      </tr>
      <tr>
        <td>{m.normal_support_title({}, { locale: Astro.locals.locale })}</td>
        <td>{m.normal_team_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.normal_enterprise_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.normal_priority_response({}, { locale: Astro.locals.locale })}</td>
      </tr>
      <tr>
        <td>{m.low_support_title({}, { locale: Astro.locals.locale })}</td>
        <td>{m.low_team_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.low_enterprise_response({}, { locale: Astro.locals.locale })}</td>
        <td>{m.low_priority_response({}, { locale: Astro.locals.locale })}</td>
      </tr>
    </table>
    <p>{m.business_hours_note({}, { locale: Astro.locals.locale })}</p>
  </div>
</Layout>
