@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

html.dark {
  background: #121212;
}


.calc-label {
  @apply mt-0 mt-5 text-sm font-bold uppercase tracking-widest;
}
