.prose pre {
  background-color: theme('colors.black.DEFAULT') !important;
}

.prose * {
  line-height: 2 !important;
}

.prose img {
  width: 100% !important;
  border-radius: 0.5rem !important;
}

.prose thead {
  color: theme('colors.mutedBlue.300') !important;
}

.prose blockquote {
  color: theme('colors.pumpkinOrange.300') !important;
}

.prose
th,
td {
  border: 1px solid theme('colors.white') !important;
  border-collapse: collapse;
}
