.blog.prose  pre {
  background-color: theme('colors.black.DEFAULT') !important;
}

.blog.prose  * {
  line-height: 2;
}

.blog.prose  img {
  width: 90%;
	margin: 0 auto;
  border-radius: 0.5rem !important;
}

.blog.prose  blockquote {
  color: theme('colors.pumpkinOrange.300');
}

/* Table styling */
.blog.prose table:not(:where(.not-content *)) {
	display: block;
	overflow: auto;
	border-spacing: 0;
}
.blog.prose :is(th, td):not(:where(.not-content *)) {
	border-bottom: 1px solid theme('colors.gray.700');
	padding: 0.5rem 1rem;
	/* Align text to the top of the row in multiline tables. */
	vertical-align: baseline;
}
.blog.prose :is(th:first-child, td:first-child):not(:where(.not-content *)) {
	padding-inline-start: 0;
}
.blog.prose :is(th:last-child, td:last-child):not(:where(.not-content *)) {
	padding-inline-end: 0;
}
.blog.prose th:not(:where(.not-content *)) {
	font-weight: 600;
}
/* Align headings to the start of the line unless set by the `align` attribute. */
.blog.prose th:not([align]):not(:where(.not-content *)) {
	text-align: start;
}
/* <table>s, <hr>s, and <blockquote>s inside asides */
.blog.prose .starlight-aside :is(th, td, hr, blockquote):not(:where(.not-content *)) {
	border-color: theme('colors.gray.300');
}
@supports (border-color: color-mix(in srgb, theme('colors.gray.500') 30%, transparent)) {
	.blog.prose .starlight-aside :is(th, td, hr, blockquote):not(:where(.not-content *)) {
		border-color: color-mix(in srgb, theme('colors.gray.500') 30%, transparent);
	}
}

/* <code> inside asides */
@supports (border-color: color-mix(in srgb, theme('colors.gray.500') 12%, transparent)) {
	.blog.prose .starlight-aside code:not(:where(.not-content *)) {
		background-color: color-mix(in srgb, theme('colors.gray.500') 12%, transparent);
	}
}

.blog.prose hr:not(:where(.not-content *)) {
	border: 0;
	border-bottom: 1px solid var(--sl-color-hairline);
}
