.prose pre {
  background-color: theme("colors.black.DEFAULT");
}

.prose * {
  line-height: 2 !important;
}

.prose img {
  width: 100%;
  border-radius: 0.5rem;
}

.prose thead {
  color: theme("colors.mutedBlue.300");
}

.prose blockquote {
  color: theme("colors.pumpkinOrange.300");
}
