---
import '../css/global.css'
import SEO from '../components/SEO.astro'
// @ts-ignore
import { pwaInfo } from 'virtual:pwa-info'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import MessengerAffiliateVue from '../components/MessengerAffliate.vue'

const { content } = Astro.props

const isLocalhost = Astro.url.origin.includes('localhost:')
---

<!doctype html>
<html lang="en">
  <head>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <SEO {...content} />
  </head>
  <body>
    <div class="overflow-x-hidden bg-gray-900 text-white">
      <Header client:load />
      <slot />
      <Footer client:load />
    </div>
    {
      !isLocalhost && (
        <script
          is:inline
          async="true"
          defer="true"
          data-domain="capgo.app"
          src="https://pls.digitalshift-ee.workers.dev/js/script.js"
          data-api="https://pls.digitalshift-ee.workers.dev/api/event"
        />
      )
    }
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "m67pzzvbrn");
    </script>
    {
      !isLocalhost && (
        <script>
          if ('serviceWorker' in navigator)
          {navigator.serviceWorker
            .register('/sw.js')
            .then(function (registration) {
              console.log('SW registration succeeded with scope:', registration.scope)
            })
            .catch(function (e) {
              console.log('SW registration failed with error:', e)
            })}
        </script>
      )
    }
    {!isLocalhost && <MessengerAffiliateVue client:only="vue" />}
  </body>
</html>
