---
import Footer from '@/components/Footer.vue'
import Header from '@/components/Header.vue'
import SEO from '@/components/SEO.astro'
import '@/css/global.css'
import { pwaInfo } from 'virtual:pwa-info'

const { content } = Astro.props

const isLocalhost = Astro.url.origin.includes('localhost:')
---

<!doctype html>
<html lang={Astro.locals.locale.toLowerCase()}>
  <head>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <SEO {...content} />
  </head>
  <body>
    <div class="overflow-x-hidden bg-gray-900 text-white">
      <Header locale={Astro.locals.locale} client:load />
      <slot />
      <Footer locale={Astro.locals.locale} client:load />
    </div>
    {
      !isLocalhost && (
        <script
          is:inline
          async="true"
          defer="true"
          data-domain="capgo.app"
          src="https://pls.digitalshift-ee.workers.dev/js/script.js"
          data-api="https://pls.digitalshift-ee.workers.dev/api/event"
        />
      )
    }
    <script is:inline defer data-website-id="66bcb7fa4038d5b1e5ea89eb" data-domain="capgo.app" src="https://datafa.st/js/script.js"></script>
  </body>
</html>
