---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import SEO from '@/components/SEO.astro'
import PostHog from '@/components/posthog.astro'
import '@/css/global.css'

const { content } = Astro.props

const isLocalhost = Astro.url.origin.includes('localhost:')
---

<!doctype html>
<html lang={Astro.locals.locale.toLowerCase()}>
  <head>
    <SEO {...content} />
    <PostHog />
  </head>
  <body>
    <div class="overflow-x-hidden text-white bg-gray-900">
      <Header />
      <slot />
      <Footer />
    </div>
    {
      !isLocalhost && (
        <script
          is:inline
          async="true"
          defer="true"
          data-domain="capgo.app"
          src="https://pls.digitalshift-ee.workers.dev/js/script.outbound-links.js"
          data-api="https://pls.digitalshift-ee.workers.dev/api/event"
        />
      )
    }
    <script is:inline type="text/javascript" src="https://widget.senja.io/js/iframeResizer.min.js"></script>
    <script is:inline defer data-website-id="66bcb7fa4038d5b1e5ea89eb" data-domain="capgo.app" src="https://datafa.st/js/script.js"></script>
  </body>
</html>
