---
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="overflow-x-hidden bg-gray-900 text-white">
      <Header client:load />
      <slot />
      <Footer client:load />
    </div>
  </body>
</html>
