---
import '../css/global.css'
// @ts-ignore
import { pwaInfo } from 'virtual:pwa-info'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import { structuredData } from '../config/app'
import MessengerAffiliateVue from '../components/MessengerAffliate.vue'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- @ts-ignore -->
    <script hid="seo-schema-graph" type="application/ld+json" set:html={structuredData} />
    <title>{title}</title>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <div class="overflow-x-hidden bg-gray-900 text-white">
      <Header client:load />
      <slot />
      <Footer client:load />
    </div>
    <script
      is:inline
      async="true"
      defer="true"
      data-domain="capgo.app"
      src="https://pls.digitalshift-ee.workers.dev/js/script.js"
      data-api="https://pls.digitalshift-ee.workers.dev/api/event"></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
          .register('/sw.js')
          .then(function (registration) {
            console.log('SW registration succeeded with scope:', registration.scope)
          })
          .catch(function (e) {
            console.log('SW registration failed with error:', e)
          })
      }
    </script>
    <MessengerAffiliateVue client:only />
  </body>
</html>
