name: 'IndexNow'
on:
  schedule:
    # Set the schedule time
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  check-and-submit:
    runs-on: ubuntu-latest
    steps:
      - name: indexnow-action
        uses: bojieyang/indexnow-action@v2
        with:
          sitemap-location: 'https://capgo.app/sitemap-index.xml'
          key: ${{ secrets.INDEXNOW_KEY }}

  google-indexing:
    runs-on: ubuntu-latest
    steps:
      - uses: robingenz/action-google-indexing@v1.0.2
        with:
          siteUrl: 'capgo.app'
          gcpServiceAccountKey: ${{ secrets.GCP_SA_KEY }}
